{% extends "base.html" %}

{% block header-wrap %}{% endblock header-wrap %}
{% block undernav %}{% endblock %}
{% block footer-wrap %}{% endblock %}
{% block bodyclass %}styleguide{% endblock %}

{% block mobile-masthead-logo %}
<a href="/" class="mobile-logo"> {{ site.name }} Styleguide </a>
{% endblock mobile-masthead-logo %}

{% block mobile-nav %}
{% menu "Styleguide" %}
<ul class="nav">
    {% for item in tree %}
    <li id="menu-item-{{ item.name|slugify }}" class="{{ item.trail_class }}">
        <a class="{{ item.current_class }}" href="{{ item.url }}">{{ item.name }}</a>
        {% if item.children %}
            <ul>
            {% for citem in item.children %}
            <li class="{{ item.trail_class }}">
                <a class="{{ item.current_class }}" href="{{ citem.url }}">{{ citem.name }}</a>
            </li>
            {% endfor %}
            </ul>
        {% endif %}
        </li>
        {% endfor %}
        </ul>
{% endblock mobile-nav %}

{% block main-content-wrap %}
<div style="padding: 100px 0;">

{% if request.GET.t %}
  {% with "includes/"|add:request.GET.t|add:".html" as template and request.GET.t|add:"_title" as module_title and request.GET.t|add:"_content" as module_content %}

  <div class="l-container">
    <h1>{% page module_title %}</h1>
    <div>{% page module_content type="wysiwyg" %}</div>
  </div>

  {% include template %}

  <div class="l-container">
  <pre style='font: 11px/1.2 Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; background: #fff;border:1px solid #eee;padding:10px;'>
    {% include_escape template %}
  </pre>
  </div>
{% endwith %}
{% else %}
<div class="l-container">
  <h1>{% page "title" %}</h1>
  <div>{% page "content" type="wysiwyg" %}</div>
</div>
{% endif %}
</div>

{% endblock main-content-wrap %}
