

<section class="home-carousel">
    <div class="carousel">

      {% page_list "Masthead Gallery" %}
        {% list_item "gallery_img" type=img %}
        <div class="item">
          <img src="{% imgix_url list_item.gallery_img %}?w=1600&h=600" />
        </div>
      {% end_list %}

      {% if not page.content.masthead_img %}
        <div class="item">
          <img src="https://unsplash.it/1600/600" data-srv-name="masthead_img">
        </div>
      {% endif %}
    </div>

      <div class="overlay text-center">
        <h1>{% page "Masthead Headline" %}</h1>
        <h4>{% page "Masthead Subhead" %}</h4>
        {% page "Masthead content" type=wysiwyg %}
      </div>
</section>
